body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.logo1 {
    color: #2196F3;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
.logo2 {
    color:#000000;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
.logo3 {
    color:#FFFFFF;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
.agency {
    color: #2196F3;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
.agency1 {
    color:#212121;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
.portfolio {
    color:#212121;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
.portfolio1 {
    color:#2196F3;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
.contact {
    color:#212121;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
.teleaddress {
    color: #757575;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
}
.colorcursor:hover {
    color:#2196F3
}
.bacground {
    background-color: #2F303A;  width:1600px; height:600px
}
.heading {
    color: #FFFFFF;
    font-size: 44px;
    background-color: #2F303A;
    font-family: 'Roboto', sans-serif; font-weight: 900;
}
.button {
    color:#FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; font-weight: 700;
    background-color: #2196F3; width:200px; height:50px;
    cursor: pointer;
}
.subtitle {
    color: #212121;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 700;
}
.text1 {
    color: #757575;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 400;
}.title {
    color: #212121;
    font-size: 36px;
    font-family: 'Roboto', sans-serif; font-weight: 700;
}
.personal {
    color: #212121;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; font-weight: 500;  
}
.position {
    color: #757575;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; font-weight: 400; 
}
.bacgroundfooter {
    background-color: #2F303A; width:1600px; height:252px
}
.adres {
    font-style: normal;
}
.address1 {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 400; 
    text-decoration: none;
}
.footermail {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 400; 
}
.footertel {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; font-weight: 400;
}

.category {
    color:#212121;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; font-weight: 700;
}
.button1 {
    color:#212121;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; font-weight: 500;
    background-color:#F5F4FA; height: 38px;
    border: none;
    cursor: pointer;
}
a:hover {
    color: #2196F3;
}
.button1:hover{
    color:#FFFFFF;
    background-color: #2196F3;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type:none
}
